{{! This is the post loop - each post will be output using this markup }}

{{#foreach posts}}
<!-- {{#if image}}
<div class="card-image">
  <img class="responsive-img" src="{{image}}">
</div>
{{/if}} -->
<article class="card {{post_class}}">
  <div class="card-content">
    <h2 class="card-title"><a href="{{url}}">{{{title}}}</a></h2>
    <section class="post-excerpt">
      <p>{{excerpt words="50"}}... <a class="read-more" href="{{url}}"><small>Continue Reading &raquo;</small></a></p>
    </section>
  </div>

    <footer class="card-action">
    Posted {{date published_at timeago="true"}}{{#if tags}} in -{{/if}}
      {{#foreach tags}}
        <a href="{{url}}" class="chip blue-grey darken-1 z-depth-1">
         <span class="grey-text text-lighten-5">{{name}}</span>
        </a>
      {{/foreach}}
    </footer>
</article>

{{/foreach}}
