{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div id="fb-root"></div>
    <div class="section no-pad-bot" id="post-banner" class="{{post_class}}" >
	  <div class="container">
        <div class="card">
          <div class="card-content">
            <span class="card-title blue-text">{{title}}</span>
            <p><b class="grey-text text-darken-3">Published on: {{date published}}</b></p>
            <br>
            <p>{{content}}</p>
          </div>
          <div class="card-action">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="egee_irl" data-count="none"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <g:plusone></g:plusone>
          </div>
        </div>
	  </div>
	</div>
{{/post}}

<div class="container">
  <div class="card">
    <div class="card-content">
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
    var disqus_shortname = 'egeeio'; // required: replace example with your forum shortname
    var disqus_identifier = '{{post.id}}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
