<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Don't know which distro to pick?</h1><br>
    <h3 class="hide-on-small-only">Here's a list of our favorites</h3>
  </div>
</div>

{{partial "partials/distros/scale"}}
{{partial "partials/distros/ubuntu"}}
{{partial "partials/distros/steamos"}}
{{partial "partials/distros/opensuse"}}
{{partial "partials/distros/fedora"}}
{{partial "partials/distros/debian"}}
{{partial "partials/distros/arch"}}
{{outlet}}
