<div class="mdl-grid">{{partial "partials/games-tab/header-issue"}}</div>
<hr>
<div class="mdl-grid">{{partial "partials/games-tab/header-official"}}</div>
<div class="mdl-grid">
  {{square-game game="minecraft"}}
  {{square-game game="gmod"}}
  {{square-game game="terraria"}}
</div>
<hr>
<div class="mdl-grid">{{partial "partials/games-tab/header-community"}}</div>
<div class="mdl-grid">
  {{square-game game="quakeworld"}}
  {{square-game game="quake2"}}
  {{square-game game="zomboid"}}
  {{square-game game="minetest"}}
</div>

{{outlet}}
