<div class="mdl-grid">{{partial "partials/games/header-issue"}}</div>
<hr>
<div class="mdl-grid">{{partial "partials/games/header-official"}}</div>
<div class="mdl-grid">
  {{partial "partials/games/squares/minecraft"}}
  {{partial "partials/games/squares/rust"}}
  {{partial "partials/games/squares/gmod"}}
  {{partial "partials/games/squares/terraria"}}
</div>
<div class="mdl-grid">{{partial "partials/games/header-community"}}</div>
<div class="mdl-grid">
  {{partial "partials/games/squares/quakeworld"}}
  {{partial "partials/games/squares/quake2"}}
  {{partial "partials/games/squares/zomboid"}}
  {{partial "partials/games/squares/Minetest"}}
</div>

{{outlet}}
