<div class="mdl-grid">{{partial "partials/community-tab/header-intro"}}</div>
<hr>
<div class="mdl-grid">
  {{square-persona name="monkey"}}
  {{square-persona name="ghost"}}
  {{square-persona name="omega"}}
  {{square-persona name="rice"}}
  {{square-persona name="teal"}}
  {{square-persona name="sudo"}}
</div>

{{outlet}}
