{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Don't know which distro to pick?</h1><br>
    <h3 class="hide-on-small-only">Here's a list of our favorites</h3>
  </div>
</div>

{{distros/distribution-scale}}
{{distros/distribution-ubuntu}}
{{distros/distribution-steamos}}
{{distros/distribution-opensuse}}
{{distros/distribution-fedora}}
{{distros/distribution-debian}}
{{distros/distribution-arch}}
{{outlet}}
