{{carousel}}
{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Have some questions?</h1><br>
    <h3 class="hide-on-small-only">We have answers</h3>
  </div>
</div>

{{partial "partials/faq/games"}}
{{partial "partials/faq/hard"}}
{{partial "partials/faq/why"}}
{{partial "partials/faq/compatible"}}
{{outlet}}
