{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Egee.io</h1><br>
    <h3>Think outside the Window</h3>
  </div>
</div>

{{partial "partials/index/showcase"}}
{{partial "partials/index/why"}}
{{partial "partials/index/switch"}}
{{partial "partials/index/games"}}
{{partial "partials/index/join"}}

{{outlet}}
