<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
  <div class="page-content">{{partial "partials/welcome-tab/index"}}</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-2">
  <div class="page-content">{{partial "partials/games-tab/index"}}</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-3">
  <div class="page-content">{{partial "partials/community-tab/index"}}</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-4">
  <div class="page-content">{{partial "partials/about-tab/index"}}</div>
</section>

{{outlet}}
