{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/background.png">
  </div>
  <div class="container center-align white-text title-margin">
    <h1 class="lato_light marginless-bottom">Egee.io</h1><br>
    <h3 class="lato_thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>

{{partial "partials/index/about"}}
{{partial "partials/index/games"}}
{{partial "partials/index/why"}}
{{partial "partials/index/switch"}}

{{outlet}}
