<div class="mdl-layout mdl-layout-centered background-div">
  <h1>Welcome To Egee.io</h1><br>
  <h3>Play Without Windows</h3>
</div>

{{partial "partials/index/about"}}
{{partial "partials/index/games"}}
{{partial "partials/index/why"}}
{{partial "partials/index/switch"}}

{{outlet}}
