<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Welcome To Egee.io</h1><br>
    <h3>Play Without Windows</h3>
  </div>
</div>

{{partial "partials/index/about"}}
{{partial "partials/index/games"}}
{{partial "partials/index/why"}}
{{partial "partials/index/switch"}}

{{outlet}}
