{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Want to play with us?</h1><br>
    <h3 class="hide-on-small-only">Here's a list the servers we run</h3>
  </div>
</div>

{{servers/terraria-server}}
{{servers/minecraft-server}}
{{servers/rust-server}}
{{outlet}}
